<div class="homepage">
    <form class="form-horizontal homepageForm" role="form">
        <div class="form-group">
            <label for="startingSelect" class="col-sm-3 control-label">Origin</label>
            <div class="col-sm-9">
                <select name="startingSelect" class="form-control">
                    <option value="Seattle">Seattle</option>
                    <option value="Portland">Portland</option>
                    <option value="Yakima">Yakima</option>
                    <option value="MtVernon">Mt. Vernon</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="endingSelect" class="col-sm-3 control-label">Finish</label>
            <div class="col-sm-9">
                <select name="endingSelect" class="form-control">
                    <option value="Seattle">Seattle</option>
                    <option value="Portland">Portland</option>
                    <option value="Yakima">Yakima</option>
                    <option value="MtVernon">Mt. Vernon</option>
                </select>
            </div>
        </div>
        <a href="/map" class="btn btn-primary">Embark</a>
    </form>
</div>
