<div class="pageHeader">
    <h1>Codefellows Project to be named later</h1>
    <h2 class="lead">This will be some wonderful text about the app and what it does<br> It will be the subheader for the project so we can get our semantic mark up going.</h2>
</div>
<div class="row">
    <div class="col-md-8 categoryButtons">
        <p><b>Filter by:</b></p>
        <a href="#" class="btn btn-primary">MOHI</a>
        <a id="foodButton" href="#" class="btn btn-default">Food</a>
        <a href="#" class="btn btn-default">Clothes</a>
        <a href="#" class="btn btn-default">Gas</a>
    </div>
    <div class="col-md-4 pitstopButton">
        <p>Look at the details of your options.</p>
        <a href="/pitstops.html" class="btn btn-lg btn-info">Pitstops</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mapInfoContainer">
        <div id="map_canvas">

        </div>
    </div>
</div>