<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jrney</a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="form-inline navForm" role="form">
                <div class="form-group">
                    <label for="startingSelect" class="">Origin</label>
                        <select name="startingSelect" class="form-control">
                            <option value="Seattle">Seattle</option>
                            <option value="Portland">Portland</option>
                            <option value="Yakima">Yakima</option>
                            <option value="MtVernon">Mt. Vernon</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="endingSelect" class="">Finish</label>
                        <select name="endingSelect" class="form-control">
                            <option value="Seattle">Seattle</option>
                            <option value="Portland">Portland</option>
                            <option value="Yakima">Yakima</option>
                            <option value="MtVernon">Mt. Vernon</option>
                        </select>
                </div>
                <a href="/map.html" class="btn btn-primary">Embark</a>
            </form>
<!-- end .navForm -->
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- end .navbar -->
<div id="container" class="container group">
    <h2>Pitstops</h2>
    <div id="pitstopsContainer" class="container">

    </div>
</div>
<!-- end #conttainer -->
<footer class="container">
    <small>All Rights Reserved &copy; 2014</small>
</footer>