<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jrney</a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="form-inline navForm" role="form">
                <div class="form-group">
                    <label for="startingSelect" class="col-sm-3 control-label">Origin</label>
                    <div class="col-sm-8">
                        <input id="startInput" type="text" name="startPoint" value="" placeholder="start point">
                    </div>
                </div>
                <div class="form-group">
                    <label for="endingSelect" class="col-sm-3 control-label">Finish</label>
                    <div class="col-sm-8">
                        <input id="endInput" type="text" name="endPoint" value="" placeholder="end point">
                    </div>
                </div>
                <button id="embarkDirection" type="button" class="btn btn-primary">Embark</button>
            </form>
<!-- end .navForm -->
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- end .navbar -->
<div id="container" class="container group">
    <h2>Pitstops</h2>
    <div id="pitstopsContainer" class="container">

    </div>
</div>
<!-- end #conttainer -->
<footer class="container">
    <small>All Rights Reserved &copy; 2014</small>
</footer>
