/*Desktop*/
/*--------------------------------------------------------------------------------*/

@media only screen
 and (min-width : 56.3125em ) {

/*Pitstop Page*/
/*--------------------------------------------------------------------------------*/
#container {
    h2 {
        margin: 1em 0;
    }
}
#pitstopsContainer {
    .item {
        .BorderRadius;
        background: @yellow;
        border: 2px solid @orange;
        display: inline-block;
        vertical-align: top;
        // &:nth-child(4n + 4) {
        //     margin-right: 0;
        // }
    }
}
.detailsContainer {
    img {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 0 3% 1em 0;
        &:nth-child(odd) {
            margin-right: 3%;
        }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }
}


}/* END min-width : 901px*/