/*Mobile*/
/*--------------------------------------------------------------------------------*/



/*Tablet*/
/*--------------------------------------------------------------------------------*/

@media only screen
 and (min-width : 31.3125em ) {

.navbar {
    label {
        color: @white;
    }
    label + div {
        display: inline-block;
        vertical-align: top;
    }
}


}/* END min-width : 501px */

/*Desktop*/
/*--------------------------------------------------------------------------------*/

@media only screen
 and (min-width : 56.3125em ) {

.navbar {
    Input {
        height: 40px;
        margin-top: 5px;
        max-width: 100%;
    }
}// end .navbar


}/* END min-width : 901px */

/*Special Cases*/
/*--------------------------------------------------------------------------------*/

@media only screen
 and (min-width : 48em ) {
// this is when bootstrap swtiches the nav from mobile to desktop.
.navForm {
    .form-group {
         width: 40%;
         label {
            line-height: 50px;
            color: @white;
            margin-right: 0.5em;
            width: 25%;
         }
         input {
            height: 40px;
            margin-top: 5px;
            max-width: 100%;
         }
    }
}

}/* END min-width : 768px */