/*-- Colors --*/
@white: rgba(255,255,255,1.0);
@black: rgba(35,35,35,1.0);
@bodyColor: rgba(61,61,61,1.0);
@backgroundColor: rgba(255,255,255,1.0);
@green: green;
@shadow: rgba(35,35,35,0.1);
@border: rgba(179,179,179,1.0);
/*-- Tiffany Kelly color palette --*/
@blue: rgba(58,60,81,1.0);
@purple: rgba(106,93,102,1.0);
@yellow: rgba(250,223,176,1.0);
@orange: rgba(203, 122, 93,1.0);
@red: rgba(157,49,46,1.0);

/*-- Fonts --*/
@font-family: sans-serif;
@body-font: @font-family;

/*-- General Variables --*/


/*--  --*/
